* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", system-ui;
}

/* Page 1 */
.page_1 {
    min-height: 100vh;
    width: 100vw;
}

body {
    overflow-x: clip;
    background-color: #000;
}

/* Navbar styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.625rem 1.25rem;
    background-color: #000;
    color: white;
    position: relative;
    padding-top: 1.75rem;
    max-width: 1300px;
    margin: 0 auto;
}

.logo-img {
    width: 4.188rem;
    height: 4.313rem;
}

.nav-links {
    display: flex;
    max-width: 51rem;
    height: 2.563rem;
    background-color: #000;
    list-style-type: none;
    gap: 2.563rem;
    align-items: center;
}

.nav-links li a{
    font-size: 0.9rem;
    font-weight: 300;
    text-align: center;
    color: #fff;
    text-decoration: none;
    transition: all 0.2s linear 0s;
    &:hover {
        color: #B1EB72;
    }
}
.connect-btn {
    position: relative; /* Make sure the button is positioned relative to its pseudo-element */
    height: 3rem;
    border-radius: 3.313rem;
    width: 8.813rem;
    cursor: pointer;
    background-color: #000000;
    color: #fff;
    box-shadow: 0px 4px 0.769rem 1px #B1EB7275;
    border: none; /* Remove default border */
    outline: none;
    z-index: 2; /* Ensures button is above the gradient border */
    position: relative;
}
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    
}

.hamburger span {
    background-color: #B1EB72;;
    height: 0.313rem;
    width: 1.563rem;
    margin: 0.25rem 0;
    border-radius: 2px;
}
.button-wrapper {
    display: inline-block;
    background: linear-gradient(177.41deg, #B1EB72 12.23%, #050505 82%); /* Gradient border */
    padding: 2px; /* Size of the border */
    border-radius: 3.31rem; /* Match button border radius */
}

@media (max-width: 992px) {
    .navbar {
        width: 85%;
    }
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 6.8rem;
        left: 0;
        gap: 0;
        z-index: 2;
        background-color: #000;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        width: 100%;
        background-color: #1f1e1e;
        text-align: center;
        padding: 0.625rem 0;
    }

    .connect-btn {
        display: none;
    }

    .hamburger {
        display: flex;
    }
    .button-wrapper {
        display: none;
    }
}

/* Navbar styling */


/* Page 1 content */
.hero {
    max-width: 70rem;
    min-height: 35rem;
    border-radius: 3.75rem;
    background-color: black;
    margin: 0 auto;
    display: flex;
    position: relative;
}

.content1-wrapper {
    max-width: 65rem;
    margin: 0 auto;
    background: linear-gradient(177.41deg, #b1eb72d0 12.23%, #05050500 82%);
    padding: 2px;
    border-radius: 3.75rem;
}

.page1-container {
    display: flex;
    padding: 1rem 2rem;
    margin-top: 4rem;
}

.img-container {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
}
.text-container {
    flex-shrink: 0;
    width: 45%;
    padding: 2rem;
}
.hero-img {
    max-height: 36rem;
    max-width: 36rem;
    object-fit: cover;
    object-position: center;
    padding: 0 2rem;
}
.heading {
    color: white;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 500;
}
.color {
    color: #7F52C0;
}
.hero-text1 {
    color: rgba(255, 255, 255, 0.608);
    font-weight: 300;
    text-align: center;
    margin-top: 1.5rem;
}
.btn-group {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 5rem;
    row-gap: 1.75rem;
    margin-top: 3rem;
}
.hero-button {
    padding: 0.7rem 1.5rem;
    border-radius: 1rem;
    border: none;
    background-color: #000;
    color: white;
    cursor: pointer;
    position: relative;
    &:focus {
        outline: none;
    }
}
.hero-btn-wrapper {
    display: inline-block;
    background: linear-gradient(177.41deg, #B1EB72 12.23%, #050505 82%);
    padding: 1px;
    border-radius: 1rem;
}
.hero-text {
    color: rgba(255, 255, 255, 0.492);
    font-weight: 300;
    font-size: 0.8rem;
    text-align: center;
}
.hero-text-container {
    margin-top: 3rem;
}